.letter-table {
  font-size: 5rem;
}

.letter-table td {
  font-size: 72px;
  background: -webkit-linear-gradient(#FE023D, #5e02fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.app-gradient-color {
  font-size: 72px;
  background: -webkit-linear-gradient(#FE023D, #5e02fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}